html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font: normal 19px/25px 'Scada', 'Times New Romain', sans-serif;
}

.clr:after {
	content: "";
	display: block;
	clear: both;
}

p {
	margin: 0;
	padding:0;
	font-size: 19px;
	line-height: 25px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #blue;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: aqua;
}

h1 {
	padding: 20px 0 24px;
}

h2 {
	padding: 0 0 75px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.ucase {
	text-transform: uppercase;
}

.lcase {
	text-transform: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#mainwrapper {
	min-width: 970px;
}

.resize {
	margin: 0 auto;
	width: 930px;
}

.questions {
	background:url(../images/bg.jpg) no-repeat center center;
	background-size:cover;
	min-height:816px;
}

.form_consultation {
	width: 360px;
	text-align:center;
	padding-top: 126px;
  float: right;
  padding-right: 46px;
  position:relative;
  z-index:5;
}

.form_consultation:before {
	display:block;
	position:absolute;
	content:"";
	background:url(../images/bg_form.png) no-repeat center center;
	width:435px;
	height:541px;
	top:90px;
	left:-36px;
	z-index:-1;
}

.form_consultation:after {
	display:block;
	content:"";
	clear:both;
}

.form_consultation:after {
	position:absolute;
	display:block;
	content:"";
	background:url(../images/img_rings.png)no-repeat center center;
	width:545px;
	height:230px;
	top: 581px;
  left: -86px;
}

.form_consultation .global_p {
	font-size: 19px;
	line-height: 25px;
	color:#380B1A;
	padding-bottom:25px;
	font-weight:bold;
	text-transform:uppercase;
}

.form_consultation p .white_text {
	font-size: 36px;
	line-height: 47px;
	color:#fff;
}

.form_consultation p .big_text {
	font-size: 29px;
	line-height: 38px;
}

.form_consultation p input {
	border:none;
	border-radius:4px;
	background:#5E7693;
	height:50px;
	width: 280px;
  padding-left: 63px;
  margin-bottom: 12px;
}

input::-webkit-input-placeholder {
	color:#fff;
	font-size: 15px;
	line-height: 19px;
}

.form_consultation p .last_form {
	margin-bottom:33px;
}

.form_consultation p .one_form, .two_form, .three_form{
	position:relative;
}


.form_consultation p .one_form:before, .two_form:before, .three_form:before {
	position:absolute;
	display:block;
	content:"";
	background:url(../images/icon_form_man.png) no-repeat center center;
	width:15px;
	height:15px;
	top:6px;
	left:25px;
}

.two_form:before {
	background:url(../images/icon_form_phone.png) no-repeat center center;	
}

.three_form:before {
	background:url(../images/icon_form_mail.png) no-repeat center center;	
}

.form_consultation a {
	width:343px;
	height:50px;
	background:#FFFDD1;
	display:block;
	border-radius:4px;
	font-size: 22px;
	line-height: 50px;
	text-align:center;
	text-transform:uppercase;
	color:#3C4053;
	box-shadow:0 4px 0 #C8D5B7;
	margin:0 auto;
}