html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font: normal 19px/25px 'Scada', 'Times New Romain', sans-serif;
	background:;
}

.clr:after {
	content: "";
	display: block;
	clear: both;
}

p {
	margin: 0;
	padding:;
}

a {
	color: #ff0000;
	text-decoration: underline;
}

a:hover {
	color: #00ff00;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color:;
}

h1 {
	padding: 220px 0 24px;
	font-size: 90px;
	position: relative;
}

h2 {
	padding: 30px 0 40px;
	font-size: 55px;
	line-height: 71px;
	text-transform: uppercase;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.ucase {
	text-transform: uppercase;
}

.lcase {
	text-transform: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#mainwrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 1110px;
	margin: 0 auto;
}
.resize {
	position: relative;
	margin: 0 auto;
	width: 930px;
	padding-bottom: 95px;
}
.mini_resize{
	width: 720px;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.bg_about_brand{
	background-size: cover;
	background: url(../images/bg_frosted.jpg);
}
.img_cir_list{
	width: 132px;
	height: 132px;
	background: url(../images/circle_frosted1.png) no-repeat center center;
	display: block;
	margin:0 auto;
}
.img_cir_2{
	background: url(../images/circle_frosted2.png) no-repeat center center;
}
.img_cir_3{
	background: url(../images/circle_frosted3.png) no-repeat center center;
}
.img_cir_4{
	background: url(../images/circle_frosted4.png) no-repeat center center;
}
.img_cir_5{
	background: url(../images/circle_frosted5.png) no-repeat center center;
}
.img_cir_6{
	background: url(../images/circle_frosted6.png) no-repeat center center;
}
.box_circle{
	width: 190px;
}
.big_txt_list{
	text-transform: uppercase;
	font-size: 32px;
	line-height: 42px;
	padding-top: 20px;
	font-weight: bold;
}
.mini_txt_list{
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 22px;
	line-height: 25px;
}
.img_cir_list p{
	font-size: 70px;
	padding-top: 53px;
	font-weight: bold;
}
.img_cir_5 p{
	font-size: 62px;
	line-height: 72px;
	padding-top: 30px;
}
.img_cir_6 p{
	font-size: 34px;
	line-height: 44px;
	padding-top: 43px;
}
.pd_top_box{
	padding-top: 40px;
}
.list_circles{
	width: 715px;
	margin: 0 auto;
}
