html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font: normal 22px/32px 'Scada', 'Times New Romain', serif;
	background: #fff;
}

.clr:after {
	content: "";
	display: block;
	clear: both;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: #1f1d1e;
	text-decoration: none;
}

a:hover {
	color: #1f1d1e;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: aqua;
}

h1 {
	padding: 220px 0 24px;
	font-size: 90px;
	position: relative;
}

h2 {
	padding: 0 0 75px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.ucase {
	text-transform: uppercase;
}

.lcase {
	text-transform: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#mainwrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 1110px;
	background: #fff;
}

.resize {
	position: relative;
	margin: 0 auto;
	width: 1070px;
	padding: 0 20px;
}

/* your styles */
.container {
	width: 930px;
	margin: 0 auto;
	text-align: center;
	}
	section {
		font-family: Arial, 'Times New Romain', sans-serif;
		background: #fffeea;
	}
	section h2 {
		font-family: 'Scada', Arial, sans-serif;
		font-size: 55px;
		line-height: 75px;
		color: #000;
		padding: 65px 0 70px;
	}
	.another_frame{
		float: right;
		width: 275px;
		height: 188px;
		margin-top: 21px;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
	}
	.another_frame iframe {
		height: 165px;
	}
	.main_frame {
		float: left;
		font-size: 15px;
		line-height: 21px;
		font-weight: bold;
		text-align: left;
		
	}
	.main_frame p {
		position: relative;
		padding-left: 44px;
	}
	.main_frame p:before {
		position: absolute;
		content: "";
		width: 35px;
		height: 35px;
		background: url(../images/murat_aliev.png) no-repeat left top;
		left: 0;
		top: -19px;
	}
	.main_frame iframe {
		width: 640px;
		height: 390px;
	}